@import url("./basis.css");
body{
    width: 100%;
    height: 100%;
    background-image: url(../img/indexbg.png);
    background-color: #4794ff;
    background-position: 100% -480%;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.main{position: absolute;width: 100%;height: 100%;background-image: url(../img/indexbg2.png);background-position: 50% -32%;background-repeat: no-repeat;background-size: 75%;}
.logo{
    width: 1.38rem;
    height: 1.38rem;
    margin: 0 auto;
    border-radius: 0.25rem;
    background: #fff;
    transform: translateY(3.28rem);
    background-image: url(../img/logo.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 0.95rem 0.95rem;
}
.name{font-size: 0.5rem;color: #fff;font-family: "微软雅黑";text-align: center;margin-top: 3.72rem;}
.characteristics {padding-top: 0.5rem;font-size: 0.28rem;color: #fff;text-align: center;width: 4.58rem;margin: 0 auto;}
.characteristics .text{display: inline-block;}
.characteristics .gradient_1,.characteristics .gradient_2{width: 0.5rem;height: 0.02rem;display: inline-block;margin-bottom: 0.1rem;}
.characteristics .gradient_1{background:linear-gradient(to right,#4794ff,#fff);}
.characteristics .gradient_2{background:linear-gradient(to right,#fff,#4794ff);}
.company_name{position: absolute;bottom: 0.5rem;left: 0;text-align: center;width: 100%;color: #fff;margin: 0 auto;}
